hapi-fhir-validation-resources-dstu3/src/main/resources/org/hl7/fhir/instance/model/dstu3/schema/xml.xsd

<?xml version="1.0" encoding="UTF-8"?><?xml-stylesheet href="../2008/09/xsd.xsl" type="text/xsl"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/1999/xhtml" targetNamespace="http://www.w3.org/XML/1998/namespace" xml:lang="en"><!-- Note: When using this schema with some tools, it may also be necessary to declare xmlns:xml="http://www.w3.org/XML/1998/namespace", however this causes performance issues with other tools and thus is not in the base schemas. --><xs:attribute name="lang"><xs:simpleType><xs:union memberTypes="xs:language"><xs:simpleType><xs:restriction base="xs:string"><xs:enumeration value=""/></xs:restriction></xs:simpleType></xs:union></xs:simpleType></xs:attribute><xs:attribute name="space"><xs:simpleType><xs:restriction base="xs:NCName"><xs:enumeration value="default"/><xs:enumeration value="preserve"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="base" type="xs:anyURI"/><xs:attribute name="id" type="xs:ID"/><xs:attributeGroup name="specialAttrs"><xs:attribute ref="xml:base"/><xs:attribute ref="xml:lang"/><xs:attribute ref="xml:space"/><xs:attribute ref="xml:id"/></xs:attributeGroup></xs:schema>