hapi-fhir-validation-resources-dstu3/src/main/resources/org/hl7/fhir/dstu3/model/schema/devicecomponent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Copyright (c) 2011+, HL7, Inc.
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without modification, 
  are permitted provided that the following conditions are met:
  
   * Redistributions of source code must retain the above copyright notice, this 
     list of conditions and the following disclaimer.
   * Redistributions in binary form must reproduce the above copyright notice, 
     this list of conditions and the following disclaimer in the documentation 
     and/or other materials provided with the distribution.
   * Neither the name of HL7 nor the names of its contributors may be used to 
     endorse or promote products derived from this software without specific 
     prior written permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND 
  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
  IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, 
  INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT 
  NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR 
  PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
  WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) 
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE 
  POSSIBILITY OF SUCH DAMAGE.
  

  Generated on Wed, Apr 19, 2017 07:44+1000 for FHIR v3.0.1 

  Note: the schemas &amp; schematrons do not contain all of the rules about what makes resources
  valid. Implementers will still need to be familiar with the content of the specification and with
  any profiles that apply to the resources in order to make a conformant implementation.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hl7.org/fhir" xmlns:xhtml="http://www.w3.org/1999/xhtml" targetNamespace="http://hl7.org/fhir" elementFormDefault="qualified" version="1.0">
  <xs:include schemaLocation="fhir-base.xsd"/>
  <xs:element name="DeviceComponent" type="DeviceComponent">
    <xs:annotation>
      <xs:documentation xml:lang="en">The characteristics, operational status and capabilities of a medical-related component of a medical device.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DeviceComponent">
    <xs:annotation>
      <xs:documentation xml:lang="en">The characteristics, operational status and capabilities of a medical-related component of a medical device.</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DomainResource">
        <xs:sequence>
          <xs:element name="identifier" minOccurs="1" maxOccurs="1" type="Identifier">
            <xs:annotation>
              <xs:documentation xml:lang="en">The locally assigned unique identification by the software. For example: handle ID.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="type" minOccurs="1" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">The component type as defined in the object-oriented or metric nomenclature partition.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="lastSystemChange" minOccurs="0" maxOccurs="1" type="instant">
            <xs:annotation>
              <xs:documentation xml:lang="en">The timestamp for the most recent system change which includes device configuration or setting change.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="source" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">The link to the source Device that contains administrative device information such as manufacture, serial number, etc.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="parent" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">The link to the parent resource. For example: Channel is linked to its VMD parent.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="operationalStatus" minOccurs="0" maxOccurs="unbounded" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">The current operational status of the device. For example: On, Off, Standby, etc.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="parameterGroup" minOccurs="0" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">The parameter group supported by the current device component that is based on some nomenclature, e.g. cardiovascular.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="measurementPrinciple" minOccurs="0" maxOccurs="1" type="MeasmntPrinciple">
            <xs:annotation>
              <xs:documentation xml:lang="en">The physical principle of the measurement. For example: thermal, chemical, acoustical, etc.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="productionSpecification" type="DeviceComponent.ProductionSpecification" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="en">The production specification such as component revision, serial number, etc.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="languageCode" minOccurs="0" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">The language code for the human-readable text string produced by the device. This language code will follow the IETF language tag. Example: en-US.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeviceComponent.ProductionSpecification">
    <xs:annotation>
      <xs:documentation xml:lang="en">The characteristics, operational status and capabilities of a medical-related component of a medical device.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="specType" minOccurs="0" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">The specification type, such as, serial number, part number, hardware revision, software revision, etc.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="componentId" minOccurs="0" maxOccurs="1" type="Identifier">
            <xs:annotation>
              <xs:documentation xml:lang="en">The internal component unique identification. This is a provision for manufacture specific standard components using a private OID. 11073-10101 has a partition for private OID semantic that the manufacturer can make use of.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="productionSpec" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">The printable string defining the component.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="MeasmntPrinciple-list">
    <xs:restriction base="code-primitive">
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation xml:lang="en">MSP Other</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="chemical">
        <xs:annotation>
          <xs:documentation xml:lang="en">MSP Chemical</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="electrical">
        <xs:annotation>
          <xs:documentation xml:lang="en">MSP Electrical</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="impedance">
        <xs:annotation>
          <xs:documentation xml:lang="en">MSP Impedance</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nuclear">
        <xs:annotation>
          <xs:documentation xml:lang="en">MSP Nuclear</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="optical">
        <xs:annotation>
          <xs:documentation xml:lang="en">MSP Optical</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="thermal">
        <xs:annotation>
          <xs:documentation xml:lang="en">MSP Thermal</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="biological">
        <xs:annotation>
          <xs:documentation xml:lang="en">MSP Biological</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mechanical">
        <xs:annotation>
          <xs:documentation xml:lang="en">MSP Mechanical</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="acoustical">
        <xs:annotation>
          <xs:documentation xml:lang="en">MSP Acoustical</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="manual">
        <xs:annotation>
          <xs:documentation xml:lang="en">MSP Manual</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MeasmntPrinciple">
    <xs:annotation>
      <xs:documentation xml:lang="en">Different measurement principle supported by the device.</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="MeasmntPrinciple-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
