hapi-fhir-validation-resources-r4/src/main/resources/org/hl7/fhir/r4/model/schema/molecularsequence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Copyright (c) 2011+, HL7, Inc.
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without modification, 
  are permitted provided that the following conditions are met:
  
   * Redistributions of source code must retain the above copyright notice, this 
     list of conditions and the following disclaimer.
   * Redistributions in binary form must reproduce the above copyright notice, 
     this list of conditions and the following disclaimer in the documentation 
     and/or other materials provided with the distribution.
   * Neither the name of HL7 nor the names of its contributors may be used to 
     endorse or promote products derived from this software without specific 
     prior written permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND 
  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
  IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, 
  INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT 
  NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR 
  PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
  WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) 
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE 
  POSSIBILITY OF SUCH DAMAGE.
  

  Generated on Fri, Nov 1, 2019 09:29+1100 for FHIR v4.0.1 

  Note: the schemas &amp; schematrons do not contain all of the rules about what makes resources
  valid. Implementers will still need to be familiar with the content of the specification and with
  any profiles that apply to the resources in order to make a conformant implementation.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hl7.org/fhir" xmlns:xhtml="http://www.w3.org/1999/xhtml" targetNamespace="http://hl7.org/fhir" elementFormDefault="qualified" version="1.0">
  <xs:include schemaLocation="fhir-base.xsd"/>
  <xs:element name="MolecularSequence" type="MolecularSequence">
    <xs:annotation>
      <xs:documentation xml:lang="en">Raw data describing a biological sequence.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MolecularSequence">
    <xs:annotation>
      <xs:documentation xml:lang="en">Raw data describing a biological sequence.</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DomainResource">
        <xs:sequence>
          <xs:element name="identifier" minOccurs="0" maxOccurs="unbounded" type="Identifier">
            <xs:annotation>
              <xs:documentation xml:lang="en">A unique identifier for this particular sequence instance. This is a FHIR-defined id.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="type" minOccurs="0" maxOccurs="1" type="sequenceType">
            <xs:annotation>
              <xs:documentation xml:lang="en">Amino Acid Sequence/ DNA Sequence / RNA Sequence.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="coordinateSystem" minOccurs="1" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation xml:lang="en">Whether the sequence is numbered starting at 0 (0-based numbering or coordinates, inclusive start, exclusive end) or starting at 1 (1-based numbering, inclusive start and inclusive end).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="patient" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">The patient whose sequencing results are described by this resource.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="specimen" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">Specimen used for sequencing.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="device" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">The method for sequencing, for example, chip information.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="performer" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">The organization or lab that should be responsible for this result.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="quantity" minOccurs="0" maxOccurs="1" type="Quantity">
            <xs:annotation>
              <xs:documentation xml:lang="en">The number of copies of the sequence of interest. (RNASeq).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="referenceSeq" type="MolecularSequence.ReferenceSeq" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="en">A sequence that is used as a reference to describe variants that are present in a sequence analyzed.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="variant" type="MolecularSequence.Variant" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="en">The definition of variant here originates from Sequence ontology ([variant_of](http://www.sequenceontology.org/browser/current_svn/term/variant_of)). This element can represent amino acid or nucleic sequence change(including insertion,deletion,SNP,etc.)  It can represent some complex mutation or segment variation with the assist of CIGAR string.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="observedSeq" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">Sequence that was observed. It is the result marked by referenceSeq along with variant records on referenceSeq. This shall start from referenceSeq.windowStart and end by referenceSeq.windowEnd.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="quality" type="MolecularSequence.Quality" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="en">An experimental feature attribute that defines the quality of the feature in a quantitative way, such as a phred quality score ([SO:0001686](http://www.sequenceontology.org/browser/current_svn/term/SO:0001686)).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="readCoverage" minOccurs="0" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation xml:lang="en">Coverage (read depth or depth) is the average number of reads representing a given nucleotide in the reconstructed sequence.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="repository" type="MolecularSequence.Repository" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="en">Configurations of the external repository. The repository shall store target's observedSeq or records related with target's observedSeq.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="pointer" minOccurs="0" maxOccurs="unbounded" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">Pointer to next atomic sequence which at most contains one variant.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="structureVariant" type="MolecularSequence.StructureVariant" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="en">Information about chromosome structure variation.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MolecularSequence.ReferenceSeq">
    <xs:annotation>
      <xs:documentation xml:lang="en">Raw data describing a biological sequence.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="chromosome" minOccurs="0" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">Structural unit composed of a nucleic acid molecule which controls its own replication through the interaction of specific proteins at one or more origins of replication ([SO:0000340](http://www.sequenceontology.org/browser/current_svn/term/SO:0000340)).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="genomeBuild" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">The Genome Build used for reference, following GRCh build versions e.g. 'GRCh 37'.  Version number must be included if a versioned release of a primary build was used.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="orientation" minOccurs="0" maxOccurs="1" type="orientationType">
            <xs:annotation>
              <xs:documentation xml:lang="en">A relative reference to a DNA strand based on gene orientation. The strand that contains the open reading frame of the gene is the &quot;sense&quot; strand, and the opposite complementary strand is the &quot;antisense&quot; strand.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="referenceSeqId" minOccurs="0" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">Reference identifier of reference sequence submitted to NCBI. It must match the type in the MolecularSequence.type field. For example, the prefix, “NG_” identifies reference sequence for genes, “NM_” for messenger RNA transcripts, and “NP_” for amino acid sequences.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="referenceSeqPointer" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">A pointer to another MolecularSequence entity as reference sequence.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="referenceSeqString" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">A string like &quot;ACGT&quot;.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="strand" minOccurs="0" maxOccurs="1" type="strandType">
            <xs:annotation>
              <xs:documentation xml:lang="en">An absolute reference to a strand. The Watson strand is the strand whose 5'-end is on the short arm of the chromosome, and the Crick strand as the one whose 5'-end is on the long arm.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="windowStart" minOccurs="0" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation xml:lang="en">Start position of the window on the reference sequence. If the coordinate system is either 0-based or 1-based, then start position is inclusive.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="windowEnd" minOccurs="0" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation xml:lang="en">End position of the window on the reference sequence. If the coordinate system is 0-based then end is exclusive and does not include the last position. If the coordinate system is 1-base, then end is inclusive and includes the last position.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MolecularSequence.Variant">
    <xs:annotation>
      <xs:documentation xml:lang="en">Raw data describing a biological sequence.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="start" minOccurs="0" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation xml:lang="en">Start position of the variant on the  reference sequence. If the coordinate system is either 0-based or 1-based, then start position is inclusive.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="end" minOccurs="0" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation xml:lang="en">End position of the variant on the reference sequence. If the coordinate system is 0-based then end is exclusive and does not include the last position. If the coordinate system is 1-base, then end is inclusive and includes the last position.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="observedAllele" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">An allele is one of a set of coexisting sequence variants of a gene ([SO:0001023](http://www.sequenceontology.org/browser/current_svn/term/SO:0001023)).  Nucleotide(s)/amino acids from start position of sequence to stop position of sequence on the positive (+) strand of the observed  sequence. When the sequence  type is DNA, it should be the sequence on the positive (+) strand. This will lay in the range between variant.start and variant.end.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="referenceAllele" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">An allele is one of a set of coexisting sequence variants of a gene ([SO:0001023](http://www.sequenceontology.org/browser/current_svn/term/SO:0001023)). Nucleotide(s)/amino acids from start position of sequence to stop position of sequence on the positive (+) strand of the reference sequence. When the sequence  type is DNA, it should be the sequence on the positive (+) strand. This will lay in the range between variant.start and variant.end.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="cigar" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">Extended CIGAR string for aligning the sequence with reference bases. See detailed documentation [here](http://support.illumina.com/help/SequencingAnalysisWorkflow/Content/Vault/Informatics/Sequencing_Analysis/CASAVA/swSEQ_mCA_ExtendedCIGARFormat.htm).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="variantPointer" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">A pointer to an Observation containing variant information.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MolecularSequence.Quality">
    <xs:annotation>
      <xs:documentation xml:lang="en">Raw data describing a biological sequence.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="type" minOccurs="1" maxOccurs="1" type="qualityType">
            <xs:annotation>
              <xs:documentation xml:lang="en">INDEL / SNP / Undefined variant.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="standardSequence" minOccurs="0" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">Gold standard sequence used for comparing against.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="start" minOccurs="0" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation xml:lang="en">Start position of the sequence. If the coordinate system is either 0-based or 1-based, then start position is inclusive.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="end" minOccurs="0" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation xml:lang="en">End position of the sequence. If the coordinate system is 0-based then end is exclusive and does not include the last position. If the coordinate system is 1-base, then end is inclusive and includes the last position.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="score" minOccurs="0" maxOccurs="1" type="Quantity">
            <xs:annotation>
              <xs:documentation xml:lang="en">The score of an experimentally derived feature such as a p-value ([SO:0001685](http://www.sequenceontology.org/browser/current_svn/term/SO:0001685)).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="method" minOccurs="0" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">Which method is used to get sequence quality.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="truthTP" minOccurs="0" maxOccurs="1" type="decimal">
            <xs:annotation>
              <xs:documentation xml:lang="en">True positives, from the perspective of the truth data, i.e. the number of sites in the Truth Call Set for which there are paths through the Query Call Set that are consistent with all of the alleles at this site, and for which there is an accurate genotype call for the event.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="queryTP" minOccurs="0" maxOccurs="1" type="decimal">
            <xs:annotation>
              <xs:documentation xml:lang="en">True positives, from the perspective of the query data, i.e. the number of sites in the Query Call Set for which there are paths through the Truth Call Set that are consistent with all of the alleles at this site, and for which there is an accurate genotype call for the event.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="truthFN" minOccurs="0" maxOccurs="1" type="decimal">
            <xs:annotation>
              <xs:documentation xml:lang="en">False negatives, i.e. the number of sites in the Truth Call Set for which there is no path through the Query Call Set that is consistent with all of the alleles at this site, or sites for which there is an inaccurate genotype call for the event. Sites with correct variant but incorrect genotype are counted here.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="queryFP" minOccurs="0" maxOccurs="1" type="decimal">
            <xs:annotation>
              <xs:documentation xml:lang="en">False positives, i.e. the number of sites in the Query Call Set for which there is no path through the Truth Call Set that is consistent with this site. Sites with correct variant but incorrect genotype are counted here.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="gtFP" minOccurs="0" maxOccurs="1" type="decimal">
            <xs:annotation>
              <xs:documentation xml:lang="en">The number of false positives where the non-REF alleles in the Truth and Query Call Sets match (i.e. cases where the truth is 1/1 and the query is 0/1 or similar).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="precision" minOccurs="0" maxOccurs="1" type="decimal">
            <xs:annotation>
              <xs:documentation xml:lang="en">QUERY.TP / (QUERY.TP + QUERY.FP).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="recall" minOccurs="0" maxOccurs="1" type="decimal">
            <xs:annotation>
              <xs:documentation xml:lang="en">TRUTH.TP / (TRUTH.TP + TRUTH.FN).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="fScore" minOccurs="0" maxOccurs="1" type="decimal">
            <xs:annotation>
              <xs:documentation xml:lang="en">Harmonic mean of Recall and Precision, computed as: 2 * precision * recall / (precision + recall).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="roc" type="MolecularSequence.Roc" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="en">Receiver Operator Characteristic (ROC) Curve  to give sensitivity/specificity tradeoff.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MolecularSequence.Roc">
    <xs:annotation>
      <xs:documentation xml:lang="en">Raw data describing a biological sequence.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="score" minOccurs="0" maxOccurs="unbounded" type="integer">
            <xs:annotation>
              <xs:documentation xml:lang="en">Invidual data point representing the GQ (genotype quality) score threshold.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="numTP" minOccurs="0" maxOccurs="unbounded" type="integer">
            <xs:annotation>
              <xs:documentation xml:lang="en">The number of true positives if the GQ score threshold was set to &quot;score&quot; field value.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="numFP" minOccurs="0" maxOccurs="unbounded" type="integer">
            <xs:annotation>
              <xs:documentation xml:lang="en">The number of false positives if the GQ score threshold was set to &quot;score&quot; field value.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="numFN" minOccurs="0" maxOccurs="unbounded" type="integer">
            <xs:annotation>
              <xs:documentation xml:lang="en">The number of false negatives if the GQ score threshold was set to &quot;score&quot; field value.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="precision" minOccurs="0" maxOccurs="unbounded" type="decimal">
            <xs:annotation>
              <xs:documentation xml:lang="en">Calculated precision if the GQ score threshold was set to &quot;score&quot; field value.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="sensitivity" minOccurs="0" maxOccurs="unbounded" type="decimal">
            <xs:annotation>
              <xs:documentation xml:lang="en">Calculated sensitivity if the GQ score threshold was set to &quot;score&quot; field value.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="fMeasure" minOccurs="0" maxOccurs="unbounded" type="decimal">
            <xs:annotation>
              <xs:documentation xml:lang="en">Calculated fScore if the GQ score threshold was set to &quot;score&quot; field value.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MolecularSequence.Repository">
    <xs:annotation>
      <xs:documentation xml:lang="en">Raw data describing a biological sequence.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="type" minOccurs="1" maxOccurs="1" type="repositoryType">
            <xs:annotation>
              <xs:documentation xml:lang="en">Click and see / RESTful API / Need login to see / RESTful API with authentication / Other ways to see resource.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="url" minOccurs="0" maxOccurs="1" type="uri">
            <xs:annotation>
              <xs:documentation xml:lang="en">URI of an external repository which contains further details about the genetics data.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="name" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">URI of an external repository which contains further details about the genetics data.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="datasetId" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">Id of the variant in this external repository. The server will understand how to use this id to call for more info about datasets in external repository.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="variantsetId" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">Id of the variantset in this external repository. The server will understand how to use this id to call for more info about variantsets in external repository.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="readsetId" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">Id of the read in this external repository.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MolecularSequence.StructureVariant">
    <xs:annotation>
      <xs:documentation xml:lang="en">Raw data describing a biological sequence.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="variantType" minOccurs="0" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">Information about chromosome structure variation DNA change type.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="exact" minOccurs="0" maxOccurs="1" type="boolean">
            <xs:annotation>
              <xs:documentation xml:lang="en">Used to indicate if the outer and inner start-end values have the same meaning.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="length" minOccurs="0" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation xml:lang="en">Length of the variant chromosome.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="outer" type="MolecularSequence.Outer" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="en">Structural variant outer.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="inner" type="MolecularSequence.Inner" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="en">Structural variant inner.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MolecularSequence.Outer">
    <xs:annotation>
      <xs:documentation xml:lang="en">Raw data describing a biological sequence.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="start" minOccurs="0" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation xml:lang="en">Structural variant outer start. If the coordinate system is either 0-based or 1-based, then start position is inclusive.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="end" minOccurs="0" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation xml:lang="en">Structural variant outer end. If the coordinate system is 0-based then end is exclusive and does not include the last position. If the coordinate system is 1-base, then end is inclusive and includes the last position.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MolecularSequence.Inner">
    <xs:annotation>
      <xs:documentation xml:lang="en">Raw data describing a biological sequence.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="start" minOccurs="0" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation xml:lang="en">Structural variant inner start. If the coordinate system is either 0-based or 1-based, then start position is inclusive.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="end" minOccurs="0" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation xml:lang="en">Structural variant inner end. If the coordinate system is 0-based then end is exclusive and does not include the last position. If the coordinate system is 1-base, then end is inclusive and includes the last position.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="strandType-list">
    <xs:restriction base="code-primitive">
      <xs:enumeration value="watson">
        <xs:annotation>
          <xs:documentation xml:lang="en">Watson strand of referenceSeq</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="crick">
        <xs:annotation>
          <xs:documentation xml:lang="en">Crick strand of referenceSeq</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="strandType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Type for strand.</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="strandType-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="orientationType-list">
    <xs:restriction base="code-primitive">
      <xs:enumeration value="sense">
        <xs:annotation>
          <xs:documentation xml:lang="en">Sense orientation of referenceSeq</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="antisense">
        <xs:annotation>
          <xs:documentation xml:lang="en">Antisense orientation of referenceSeq</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="orientationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Type for orientation.</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="orientationType-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="repositoryType-list">
    <xs:restriction base="code-primitive">
      <xs:enumeration value="directlink">
        <xs:annotation>
          <xs:documentation xml:lang="en">Click and see</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="openapi">
        <xs:annotation>
          <xs:documentation xml:lang="en">The URL is the RESTful or other kind of API that can access to the result.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="login">
        <xs:annotation>
          <xs:documentation xml:lang="en">Result cannot be access unless an account is logged in</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="oauth">
        <xs:annotation>
          <xs:documentation xml:lang="en">Result need to be fetched with API and need LOGIN( or cookies are required when visiting the link of resource)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation xml:lang="en">Some other complicated or particular way to get resource from URL.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="repositoryType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Type for access of external URI.</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="repositoryType-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="qualityType-list">
    <xs:restriction base="code-primitive">
      <xs:enumeration value="indel">
        <xs:annotation>
          <xs:documentation xml:lang="en">INDEL Comparison</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="snp">
        <xs:annotation>
          <xs:documentation xml:lang="en">SNP Comparison</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation xml:lang="en">UNKNOWN Comparison</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="qualityType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Type for quality report.</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="qualityType-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="sequenceType-list">
    <xs:restriction base="code-primitive">
      <xs:enumeration value="aa">
        <xs:annotation>
          <xs:documentation xml:lang="en">AA Sequence</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dna">
        <xs:annotation>
          <xs:documentation xml:lang="en">DNA Sequence</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rna">
        <xs:annotation>
          <xs:documentation xml:lang="en">RNA Sequence</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="sequenceType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Type if a sequence -- DNA, RNA, or amino acid sequence.</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="sequenceType-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
